<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EntityContext" connectionString="Data Source=yourserver; initial catalog=DbName;user id=youruser;password=yourpassword;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="ArchitectureTemplate.Infrastructure.WCF.Services.TelaManager">
          <endpoint address="net.tcp://localhost:8009/WcfService" 
                    binding="netTcpBinding"
                    contract="ArchitectureTemplate.Infrastructure.WCF.Contracts.ServiceInterfaces.ITelaServiceContract" />
          <endpoint address="http://localhost/WcfService" 
                    binding="basicHttpBinding"
                    contract="ArchitectureTemplate.Infrastructure.WCF.Contracts.ServiceInterfaces.ITelaServiceContract" />
        </service>
      </services>
    </system.serviceModel>
</configuration>