<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/WcfService"
                binding="netTcpBinding"
                contract="ArchitectureTemplate.Infrastructure.WCF.Contracts.ServiceInterfaces.ITelaServiceContract"
                name="tcpEP" />
      <!--<endpoint address="http://localhost/WcfService"
                binding="basicHttpBinding"
                contract="ArchitectureTemplate.Infrastructure.WCF.Contracts.ServiceInterfaces.ITelaServiceContract"
                name="httpEP" />
      <endpoint address="http://localhost:4497/WcfService"
                binding="wsHttpBinding"
                contract="ArchitectureTemplate.Infrastructure.WCF.Contracts.ServiceInterfaces.ITelaServiceContract"
                name="webEP" />-->
    </client>
  </system.serviceModel>
</configuration>

