@using System.Security.Claims
@{
    var idsMenus = ((ClaimsIdentity)User.Identity).FindFirst("IdsMenu").Value;

    var menusEnabled = !string.IsNullOrEmpty(idsMenus)
        ? idsMenus.Split('|').Select(int.Parse).ToList()
        : new List<int>();
}

@Html.Hidden("TestId")
<button class="btn btn-mobile" data-toggle="collapse" data-target="x" id="btnMobile">
    <i class="fa fa-bars"></i>
</button>

<div class="menu-close display-none">
    <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
</div>

<div id="menu-lateral" class="nav-right-collapse">
    <div class="text-center menu-title">
        <b>Browser</b>
    </div>
    <nav role="navigation">
        <ul>
            @if (menusEnabled.Contains(100))
            {
                <li children="false">
                    <a href="#" class="linkto" linkto="/Test/Edit/">
                        <i class="fa fa-lg fa-fw fa-id-card"></i>
                        <span class="menu-item-parent" id="Menu_100">Test Edit</span>
                    </a>
                </li>
            }
            @if (menusEnabled.Contains(101))
            {
                <li>
                    <a title="Test">
                        <i class="fa fa-lg fa-fw fa-sitemap"></i>
                        <span class="menu-item-parent" id="Menu_101">Test</span>
                        <b class="collapse-sign">
                            <em class="fa fa-plus-square-o"></em>
                        </b>
                    </a>
                    <ul>
                        @if (menusEnabled.Contains(102))
                        {
                            <li>
                                <a title="Test" class="linkto" linkto="/Test/One/">
                                    <span class="menu-item-parent" id="Menu_102">
                                        <i class="fa fa-caret-square-o-right"></i> Test 1
                                    </span>
                                </a>
                            </li>
                        }
                        @if (menusEnabled.Contains(103))
                        {
                            <li>
                                <a title="Test" class="linkto" linkto="/Test/Two/">
                                    <span class="menu-item-parent" id="Menu_103">
                                        <i class="fa fa-calendar-o"></i> Test 2
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </nav>
</div>