<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Error - ArchitectureTemplate</title>
	<style>
		.text-justify-error {
			text-align: justify
		}

		.error-system {
			padding: 15px;
			margin-bottom: 20px;
			border: 1px solid transparent;
			border-radius: 4px
		}

		.error-danger {
			color: #a94442;
			background-color: #f2dede;
			border-color: #ebccd1
		}

		.error-system.error-danger {
			background-color:#f8bac0;
			border-left:#A94442 3px solid!important;
		}

	</style>
</head>
<body>
	<article class="error-system error-danger text-justify-error">
		<h3><b>Dear User</b></h3>
		<p>
		    Please be informed that an unexpected error occurred while handling this request.
			<br>
		        We kindly ask your manager to contact your
		        System Administrator to communicate it to you.
			<br>
		        As soon as the cause is identified and regularized, we will inform your manager.
			<br>
		        Agradecemos a sua atenção e compreensão.
		</p>
		<p>
		    Best regards
		</p>
		<p>
		    System Administrator
		</p>
	</article>
</body>
</html>
