<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Error - ArchitectureTemplate</title>
	<style>
		.text-justify-error {
			text-align: justify
		}

		.error-system {
			padding: 15px;
			margin-bottom: 20px;
			border: 1px solid transparent;
			border-radius: 4px
		}

		.error-danger {
			color: #a94442;
			background-color: #f2dede;
			border-color: #ebccd1
		}

		.error-system.error-danger {
			background-color:#f8bac0;
			border-left:#A94442 3px solid!important;
		}

	</style>
</head>
<body>
	<article class="error-system error-danger text-justify-error">
		<h3><b>Prezado(a) usuário(a)</b></h3>
		<p>
			Informamos que ocorreu um erro inesperado no atendimento desta sua solicitação.
			<br>
			Pedimos a gentileza de comunicar ao seu gestor para que entre em contato com o
			Administrator do Sistema para comunica-lo sobre o ocorrido.
			<br>
			Tão logo a causa seja identificada e regularizada, informaremos ao seu gestor.
			<br>
			Desde já, agradecemos a sua atenção e compreensão.
		</p>
		<p>
			Atenciosamente
		</p>
		<p>
			Administrator do Sistema
		</p>
	</article>
</body>
</html>
