@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Home de Login";
}

<section id="wrapper">
    <section class="container text-center">
        <h1 class="text-center">
            <strong>Bem-vindo</strong> a ArchitectureTemplate
            @*<span class="subtitle">Test</span>*@
        </h1>
        <p class="lead">
            ArchitectureTemplate
        </p>
    </section>

    <div class="container">
        <hr class="half-margins" />
    </div>

    <div class="container">
        <hr class="no-lines" />
    </div>
</section>