@model ArchitectureTemplate.Mvc.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Recuperação de Senha";
}

<section id="wrapper">
    <div id="shop">
        <header id="page-title">
            <div class="container">
                <h1>Login</h1>
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Login")">Home</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </header>
        
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="white-row">
                        <h3><strong>Recuperação de senha</strong></h3>
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i>
                            <strong>Como funciona?</strong>
                            <p>
                                Ao definir um email existente no sistema para recuperação de senha,
                                será enviada para sua caixa as informações necessarias para redefinição da senha.
                            </p>
                        </div>

                        @using (Html.BeginForm("RecoverPassword", "Login", FormMethod.Post, new {@class = "input-group"}))
                        {
                            @Html.AntiForgeryToken()
                            <input type="email" class="form-control" name="Email" id="Email" placeholder="Informe o endereço de email"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary">Enviar</button>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}