@{
    ViewBag.Title = "Não Autorizado";
}

<div class="white-row">
    <article class="alert alert-danger text-justify">
        <h3><b>Prezado(a) usuário(a)</b>
        </h3>
        <p>
            Please be informed that your profile does not have permission to perform this operation.
        </p>
        <p>
            For further information, please contact your manager.
        </p>
        <br>
    </article>
    <button class="btn btn-primary btn-specific" id="btnVoltarNaoAutorizado">Go back to the previous screen</button>
    <br>
</div>

@section Scripts {
    <script>
        $("#btnVoltarNaoAutorizado").click(function () {
            window.history.back();
        });
    </script>
}