<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CreateLog" value="true"></add><!--true or false-->
    <add key="Log" value="C:\App\Services\Log\"></add>
    <add key="Timer" value="1"></add>
    <add key="HoraInicio" value="20:00"></add>
  </appSettings>
  <connectionStrings>
    <add name="EntityContext" connectionString="Data Source=yourserver; initial catalog=DbName;user id=youruser;password=yourpassword;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
